@model System.Web.Mvc.HandleErrorInfo


<div id="mainBody">
    <div class="container">
        <div class="row">
            @Html.Partial("SideBar")

            <div class="span9">
                <img width="500px" height="500px" style="margin-left: 200px;margin-top: 50px;" src="~/FrontEnd/images/404_page_not_found.jpg"/>
            </div>
        </div>
    </div>
</div>
