
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    Witaj w panelu administratora. W panelu nawigacyjnym po lewej znajdziesz niezbędne narzędzia umożliwiające zarządzanie sklepem.
    W razie jakichoklwiek wątpliwości, czy też błędów w działaniu aplikacji proszę o jak najszybszy kontakt.
    <b><a href="mailto:cassteam@outlook.com">Wyślij wiadomość</a></b>
</div>