
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <div class="span11">
                <div class="well well-lg">
                    <span style="color: rgb(216, 216, 216);">
                        <strong><h2>FAQ - najczęściej zadawane pytania i odpowiedzi</h2></strong>

                        <br /><br />

                        <h4><strong>Czy produkty pochodzą bezpośrednio od producenta ?</strong></h4><br />

                        Tak, produkty sprzedawane w sklepie internetowym www.sklepinternetowy.pl sprowadzane są bezpośrednio od producenta, są oryginalne i wyłącznie nowe.
                        <h4>
                            <strong>
                                Czy sprzedawane produkty posiadają ważny termin przydatności ?
                            </strong>
                        </h4><br />

                        Produkty sprzedawane w sklepie internetowym mają gwarancję jakości oraz ważny termin przydatności, który wynosi 24 miesięcy od daty produkcji oraz 12 miesięcy od momentu otwarcia opakowania. Wszystkie towary, których termin przydatności upłynął są wycofywane z oferty sklepu.
                        <h4>
                            <strong>
                                Na jaki numer rachunku oraz dane konta należy kierować płatności za zakupione produkty ?
                            </strong>
                        </h4><br />

                        Płatności prosimy kierować na konto

                        SklepInternetowy.pl
                        Grzegorz Pierzchała
                        ul. Lewartowskiego 5, 
                        31 -234 Warszawa

                        Nr rachunku: 00 0000 0000 0000 0000 0000 0000
                        <h4>
                            <strong>
                                Jaki jest czas realizacji zamówienia ?
                            </strong>
                        </h4><br />
                        Zamówienia złożone w sklepie internetowym są automatycznie przyjmowane ze statusem Oczekujące, które następnie w ciągu 24 godzin są przez pracownika przyjmowane do realizacji wraz ze statusem W realizacji. W większości przypadków zamówienie takie jest realizowane (tzn. spakowane i wysłane) w ciągu kilku dni roboczych. W wyjątkowych przypadkach sklep internetowy zastrzega sobie termin realizacji zamówienia do 10 dni roboczych.
                         <h4>
                            <strong>
                                Jaki jest czas realizacji zamówienia przy przelewie na konto ?
                            </strong>
                        </h4><br />
                        Zamówione produkty są wysyłane do Klienta w ciągu 24 godzin od momentu zaksięgowania na koncie pełnej kwoty zamówienia.
                        <h4>
                            <strong>
                                Co w przypadku, gdy zamówiony produkt jest w danej chwili niedostępny ?
                            </strong>
                        </h4><br />
                        Wówczas na podany w Formularzu zamówienia adres email Klienta, zostaje wysłana informacja o niedostępności produktu oraz o planowanej dacie pojawienia się produktu.
                        <h4>
                            <strong>
                                Czy kwota końcowa zamówienia jest powiększana o koszty dodatkowe ?
                            </strong>
                        </h4><br />
                        Nie. W sklepie internetowym kwota do zapłaty jest ostateczną ceną brutto, a koszty wysyłki są stałe i wliczone w wartość końcową zamówienia oraz wynoszą odpowiednio :

                        12,90 zł za przesyłkę kurierską bez pobrania
                        19,90 zł za przesyłkę kurierską za pobraniem.

                        Przy zamówieniach powyżej 400,00 zł wysyłka kurierska gratis.

                        Przy wysyłce zwykłej Pocztą Polską cena wg stawek poczty polskiej.

                        Całkowity koszt płatności to koszty zamówienia towaru powiększone o koszty wysyłki.
                        <h4>
                            <strong>
                                Czy możliwy jest odbiór osobisty zamówionych produktów ?
                            </strong>
                        </h4><br />
                        Tak. Istnieje możliwość osobistego odbioru zamówionego towaru po uprzednim skontaktowaniu się pod adresem info@sklepinternetowy.pl w celu uzgodnienia daty odbioru.
                        <h4>
                            <strong>
                                Co w przypadku, gdy nie otrzymano zamówionego towaru w określonym terminie ?
                            </strong>
                        </h4><br />
                        Należy upewnić się, iż podany na stronie sklepu czas realizacji zamówienia rzeczywiście minął. Każdorazowo o wysyłce Klient jest informowany otrzymując wiadomość email na podany w zamówieniu adres poczty elektronicznej. Przed kontaktem z Nami, należy dokładnie sprawdzić, czy owa wiadomość nie została przeoczona lub przypadkowo usunięta przez pocztowe filtry antyspamowe. Jeżeli informacji potwierdzającej wysyłkę nie ma (a czas realizacji zamówienia minął) lub w przypadku gdy taka wiadomość została dostarczona, lecz mimo tego przesyłka nie dotarła, należy niezwłocznie skontaktować się z firmą pod adresem adres: info@sklepinternetowy.pl.
                        <h4>
                            <strong>
                                Czy Klient może otrzymać fakturę VAT za zamówione produkty ?
                            </strong>
                        </h4><br />
                        Tak, firma wystawia fakturę VAT na życzenie Klienta, po ówczesnym przesłanu wszystkich potrzebnych danych do faktury. Standardowo do przesyłki dołączany jest paragon fiskalny będący dowodem zakupu.

                        Masz pytanie, napisz !

                        Wszystkie zapytania kieruj na info@sklepInternetowy.pl

                        Z miłą chęcią odpowiemy na nurtujące Cię pytania.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>