
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="well well-lg">
                    <span style="color: rgb(216, 216, 216);">
                            
                        <h4>Dane adresowe:</h4><br/>

                        <strong>SklepInternegowy.pl</strong><br/>
                        Grzegorz Pierzchała<br />
                        ul. Lewartowskiego 5,<br />
                        31 -234 Warszawa<br />
                        NIP: 111-11-11-111<br />
                        KRS: 0000000000<br />
                        REGON: 000000000<br />
                        Sąd Rejonowy dla m. st. Warszawa
                        XIV Wydział Gospodarczy Krajowego Rejestru Sądowego
                        Wysokość kapitału zakładowego  300 000,00 zł
                        <br /><br/>
                        <strong>Obsługa klienta</strong>
                        <br/><br/>
                        Zapraszamy do kontaktu w dni robocze w godz. 8:00 - 18:00<br/>

                        Infolinia: 22 222 22 22<br/>

                        Fax: 22 222 22 22<br/>

                        E-mail: info@sklepinternetowy.pl
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>