
@{
    ViewBag.Title = "Statute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="well well-lg" style="text-align: center">
                    <span style="color: rgb(216, 216, 216);">
                        <strong><h2>Regulamin świadczenia usług sklepu SklepInternetowy.pl</h2></strong>

                        <br /><br /><strong>§ 1<br /><br /></strong>

                        SklepInternetowy.pl jest sklepem internetowym, którego właścicielem jest Grzegorz Pierzchała prowadzący działalność gospodarczą pod firmą SklepInternetowy.pl Grzegorz Pierzchała z siedzibą w Warszawie przy ul. Lewartowskiego 5, 31 -234, wpisaną do CEIDIG. Regulamin określa zasady zawierana transakcji w sklepie SklepInternetowy.pl.

                        <br /><br /><strong>§ 2</strong><br /><br />

                        SklepInternetowy.pl jest internetowym sklepem, za pośrednictwem której użytkownicy mogą nabywać artykuły sportowe.


                        <br /><br /><strong>§ 3</strong><br /><br />

                        Dokonywanie zakupów za pośrednictwem SklepInternetowy.pl wymaga akceptacji plików cookie przez przeglądarkę użytkownika.
                        Serwis działa na prawidłowo skonfigurowanej przeglądarce Internet Explorer, Mozilla Forefox, Google Chrome bądź innej zaktualizowanej i odpowiednio skonfigurowanej przeglądarce.

                        <br /><br /><strong>§ 4</strong><br /><br />

                        Aby złożyć zamówienie, należy zarejestrować się na stronie sklepu i wypełnić wskazany na tej stronie formularz.
                        Zamówienie dokonywane jest przez wybór właściwego artykułu, wybór liczby egzemplarzy i kliknięcie znaku „kupuję”. Po potwierdzeniu wyboru, Użytkownik przenoszony jest na stronę wyboru sposobu płatności i sposobu odbioru zamówienia.
                        Odbiór zamówienia może być dokonany osobiście w siedzibie SklepInternetowy.pl bez dodatkowej opłaty.
                        Zamówienie może być także dostarczone na adres wskazany przez Zamawiającego za odpowiednią opłatą wskazaną w cenniku dostawy. Wybór formy odbioru następuje po skompletowaniu zamówienia.
                        Po złożeniu zamówienia Zamawiający otrzyma e-mail (zgodnie z zaznaczoną podczas składania zamówienia opcją)  potwierdzający przyjęcie zamówienia.

                        <br /><br /><strong>§ 5</strong><br /><br />

                        Zamawiający - konsument, który zawarł umowę na odległość, może od niej odstąpić bez podania przyczyn, składając stosowne oświadczenie na piśmie w terminie dziesięciu dni od dnia dostarczenia przesyłki. Do zachowania tego terminu wystarczy wysłanie oświadczenia przed jego upływem.
                        W przypadku skorzystania z uprawnienia wzmiankowanego w punkcie 1 niniejszego paragrafu,  Zamawiający – konsument zobowiązany jest odesłać dostarczone zamówienie w stanie niezmienionym, chyba że zmiana była konieczna w ramach zwykłego zarządu rzeczą sprzedaną, a SklepInternetowy.pl zwraca na rachunek bankowy Zamawiającego – konsumenta należność za zwrócone zamówienie.

                        <br /><br /><strong>§ 6</strong><br /><br />

                        W przypadku, gdy okaże się, że dostarczony towar jest niezgodny z zamówieniem, Zamawiającemu przysługuje prawo do wymiany towaru na zamówiony bądź nowy.
                        Odesłanie zamówionego towaru następuje na rachunek SklepInternetowy.pl, który pokrywa związane z tym koszty.
                        Reklamacje rozpatrywane są w terminie 14 dni. W przypadku uwzględnienia reklamacji, Zamawiającemu wysyłany jest nowy egzemplarz w miejce niezgodnego z zamówieniem. W przypadku, gdy reklamacja nie zostanie uwzględniona, SklepInternetowy.pl  zareklamowany towar odsyła na własny koszt.
                        W sytuacji braku zamówionego a niewadliwego towaru, SklepInternetowy.pl informuje o tym Zamawiającego mailem bądź telefonicznie. Wedle wyboru Zamawiającego – uiszczona należność jest zwracana na jego rachunek bankowy, albo wysyłany jest inny towar w tej samej cenie, wybrany przez Zamawiającego. Koszty przesyłek ponosi ABC.books.pl.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>